/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 10/09/2022, 2:07:32 PM
    Author     : asha
*/


h3 {
  color: red;
}
h4 {
  color: green;
}

label {
  display: inline-block;
  width: 140px;
  text-align: right;
  margin-right: 5px;
}​

input, select, button {
   padding: 8px;
   margin: 5px;
   margin-bottom: 10px;
}

.master {
  background-color: tomato;
  color: white;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
  text-align: center;
}

td {
    padding: 10px;
}

th {
    padding: 15px;
}

.left {
    background-color: #6666ff;
    padding: 20px;
    margin: 20px;
    border: solid;
    width: 45%;
}

.leftsmall {
    background-color: #6666ff;
    padding: 20px;
    margin: 20px;
    border: solid;
    width: 25%;
}

.leftfull {
    background-color: #6666ff;
    padding: 20px;
    margin: 20px;
    border: solid;
    width: 100%;
}

.right {
    background-color: yellowgreen;
    padding: 20px;
    margin: 20px;
    border: solid;
    width: 45%;
}

.rightbig {
    background-color: yellowgreen;
    padding: 20px;
    margin: 20px;
    border: solid;
    width: 65%;
}

.containerrow {
    display: flex;
    justify-content: space-between;
    border: 1px black solid;
    width: 100%;
}

.containercolumn {
    display: flow;
    justify-content: space-between;
    border: 1px black solid;
}

.navbar {
  overflow: hidden;
 
  text-align: center;
}

.navbar a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin: 20px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}


