/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 10/09/2022, 2:07:32 PM
    Author     : asha
*/


h3 {
  color: red;
}
h4 {
  color: green;
}

label {
  display: inline-block;
  width: 140px;
  text-align: right;
  margin-right: 5px;
}​

select, input {
   padding: 8px;
   margin: 5px;
}

.class3, select {
   padding: 8px;
   margin: 5px;
}

.master {
  background-color: tomato;
  color: white;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
  text-align: center;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: tomato;
  color: white;
  border: 1px solid #ddd;
  padding: 8px;
}

.left {
    padding: 20px;
    margin: 20px;
    width: 45%;
}

.leftsmall {
    padding: 20px;
    margin: 20px;
    width: 25%;
}

.leftfull {
    padding: 20px;
    margin: 20px;
    width: 100%;
}

.right {
    padding: 20px;
    margin: 20px;
    width: 45%;
}

.rightbig {
    padding: 20px;
    margin: 20px;
    width: 65%;
}

.containerrow {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.containercolumn {
    display: flow;
    justify-content: space-between;
    border: 1px black solid;
}

.containercolumnreport {
    display: flow;
    justify-content: space-between;
}

.navbar {
  overflow: hidden;
  text-align: center;
}

.navbar a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin: 20px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}


